@import url(../../styles/global.css);

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

section {
    width: 49.2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

.form-container > p {
    font-size: 16px;
    margin-top: 22px;
    color: var(--black);
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.checkbox{
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}

.checkbox>label{
    font-size: 9px;
}

form > button {
    height: 35.4px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    font-style: normal;
    
}
.title-wrapper{
    
    display: flex;
    justify-content: space-between;

}

img {
    object-fit: cover;
    width: 50.8%;
}

label {
    font-size: 14;
    font-weight: 500;
    color:var(--black)
}

input[type= "password"], input[type="email"]{ 
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 8.5px 10px;
}

input::placeholder {
    font-size: 10px;
    font-weight: 500;
    color: var(--gray);
}

a{
    font-size: 10px;
    font-weight: 500;
    color: var(--blue);
}
.divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    gap: 4.5px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--border-gray);
}

.divider>p {
    font-size: 9px;
    color: var(--black);
    font-weight: 500;
}

.sso-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;

    margin-top: 89px;
    margin-bottom: 46px;

}
.sso-container img{
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.sso-container  p { 
    font-size: 12px;
}

.sso-container button {
    height: 32px;
    gap: 10px;
    padding: 4px 20px;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dont-have{
    font-size: 14px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--black);
    margin-top: 22px;
}

.dont-have a {
    color: var(--blue);
    font-size: 14px;
}